.card
  display: grid
  grid-template-columns: 0.6fr 2fr

  &__bg
    position: relative
    width: 113px
    height: 113px
    background-color: $bluecolor
    border-radius: 100%
    margin: 10px auto 0

  &__img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  &__right
    margin-left: 10px

  &__title
    color: $bluecolor
    font-size: 17px
    font-weight: 400
    margin-bottom: 4px

  &__text
    color: $greycolor
    font-size: 15px
    font-weight: 300
    line-height: 21px
