.conditions
  margin-top: -66px

  &__container
    margin-top: 32px
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr
    justify-content: space-between
    align-items: flex-start
    grid-row-gap: 52px