.footer
  max-height: 320px
  width: 100vw

  &__container
    margin: -22px 0 0 0
    display: grid
    grid-template-areas: 'left mid mid right'
    justify-content: center
    @include for-phone-only
      grid-template-areas: "mid" "left" "right"
      grid-template-rows: auto
      grid-template-columns: auto
      justify-content: center
      align-items: center
      margin-top: 0


  &__left
    grid-area: left
    @include flex-row
    padding-left: 23px
    @include for-phone-only
      padding-left: 0
      margin: 20px auto
      justify-self: center

  &__icons
    display: flex
    justify-content: center
    align-items: center
    width: 32px
    height: 32px
    background-color: #070716
    margin-right: 10px
    border-radius: 100%

  &__mid
    display: grid
    grid-area: mid
    justify-self: center
    grid-template-rows: 40px 20px 15px 40px
    width: 440px
    @include for-tablet-portrait-up
      width: 400px
      margin-bottom: 22px
    @include for-phone-only
      display: flex
      flex-flow: column nowrap
      width: 80vw

  &__horizontal
    margin: 0 auto
    width: 299px
    height: 4px
    background-color: #1fbad6
    @include for-tablet-portrait-up
      height: 3px
      margin-top: 27px
    @include for-phone-only
      margin-top: 15px


  &__3th
    margin-top: -8px
    display: flex
    flex-flow: row nowrap
    justify-content: space-around
    @include for-tablet-portrait-up
      margin-top: 4px
    @include for-phone-only
      margin-top: 18px
      justify-content: space-between

  &__title
    color: #070716
    font-size: 17px
    font-weight: 600
    text-transform: uppercase
    @include for-tablet-portrait-up
      font-size: 11px

  &__5th
    color: #bcbab9
    margin-top: -4px
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    @include for-tablet-portrait-up
      display: none
    @include for-phone-only
      display: flex
      flex-flow: column nowrap
      justify-content: center
      margin-top: 12px
      &_up
        @include for-phone-only
          display: flex
          flex-flow: row nowrap
          justify-content: space-around
      &_down
        @include for-phone-only
          display: flex
          flex-flow: row nowrap
          justify-content: space-between

  &__subtitle
    color: #bcbab9
    font-size: 13px
    font-weight: 300
    text-transform: uppercase
    @include for-phone-only
      padding: 2px 12px


  &__language
    text-align: center
    margin-top: 12px
    color: #1fbad6
    font-size: 11px
    font-weight: 400
    text-transform: uppercase

  &__right
    display: flex
    grid-area: right
    align-items: center
    justify-content: flex-end
    @include for-phone-only
      justify-self: center
      margin-top: 11px


  &__stores
    margin-right: 23px
    @include for-tablet-landscape-up
      width: 90%


  &__under
    width: 100%
    height: 11px
    background-color: #070716
    font-size: 8px
    color: black
    @include for-phone-only
      margin-top: 11px
