.frametitle
  text-align: center
  padding-top: 70px

  &__frame
    width: 112px
    height: 24px
    background-color: #000000
    color: #ffffff
    font-size: 11px
    font-weight: 400
    text-transform: uppercase
    margin: 0 auto
    padding: 6px 11px

    &_white
      background-color: #ffffff
      color: #000000

  &__title
    margin-top: 38px
    color: #222222
    font-size: 38px
    font-weight: 700
    text-transform: uppercase

    &_white
      color: #ffffff

  &__subtitle
    color: #222222
    font-size: 17px
    font-weight: 400
    margin-top: 19px

    &_white
      color: #ffffff

